stage {
  font-family: Source Sans Pro, Cantarell, Sans-Serif;
  font-size: 11pt;
  color: rgba(0,0,0,1);
}
/* WIDGETS */
/* Buttons */
.button, .app-folder-dialog .edit-folder-button, .quick-settings-system-item .icon-button {
  color: #C3C7D1;
  background-color: #202435;
  box-shadow: none;
  border: 1px solid #12151e;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black;
  border: 1px solid #12151e;
  padding: 4px 32px;
}
.button:focus, .app-folder-dialog .edit-folder-button:focus, .quick-settings-system-item .icon-button:focus {
  background-color: #272c42;
  color: #f7f7f7;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black;
  box-shadow: none !important;
  border: 1px solid #12151e;
}
.button:insensitive, .app-folder-dialog .edit-folder-button:insensitive, .quick-settings-system-item .icon-button:insensitive {
  color: #6e717d;
  background-color: rgba(43, 46, 58, 0.66);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border: none;
  text-shadow: none;
  icon-shadow: none;
}
.button:active, .app-folder-dialog .edit-folder-button:active, .quick-settings-system-item .icon-button:active {
  color: #c50ed2;
  background-color: rgba(24, 27, 40, 0.95);
  border: 1px solid #12151e;
  text-shadow: none;
  icon-shadow: none;
}
.button:hover, .app-folder-dialog .edit-folder-button:hover, .quick-settings-system-item .icon-button:hover {
  background-color: #252a3e;
  color: #f7f7f7;
  border: 1px solid #12151e;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black;
}
.modal-dialog-linked-button {
  padding: 10px;
  border: 1px solid #12151e;
  color: #C3C7D1;
  background: #0e1018;
  text-shadow: none;
  icon-shadow: none;
  box-shadow: none;
}
.modal-dialog-linked-button:insensitive {
  color: #6e717d;
  background-color: rgba(43, 46, 58, 0.66);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border: none;
  text-shadow: none;
  icon-shadow: none;
}
.modal-dialog-linked-button:active {
  color: #c50ed2;
  background-color: rgba(24, 27, 40, 0.95);
  border: 1px solid #12151e;
  text-shadow: none;
  icon-shadow: none;
}
.modal-dialog-linked-button:focus {
  background-color: #272c42;
  color: #f7f7f7;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black;
  box-shadow: none !important;
  border: 1px solid #12151e;
}
.modal-dialog-linked-button:focus:hover {
  background-color: #272c42;
  color: #f7f7f7;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black;
  box-shadow: none !important;
  border: 1px solid #12151e;
}
.modal-dialog-linked-button:hover {
  background-color: #252a3e;
  color: #f7f7f7;
  border: 1px solid #12151e;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black;
}
/* Entries */
StEntry {
  background-color: #222638;
  border-color: #12151e;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 4px;
  border-width: 2px;
  color: #C3C7D1;
  selection-background-color: #c50ed2;
  selected-color: #f7f7f7;
}
StEntry:hover {
  border-color: rgba(197, 14, 210, 0.6);
}
StEntry:focus {
  border-color: rgba(197, 14, 210, 0.6);
}
StEntry:insensitive {
  color: #6e717d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
StEntry StIcon.capslock-warning {
  icon-size: 16px;
  warning-color: #f47d49;
  padding: 0 4px;
}
StEntry StLabel.hint-text {
  color: rgba(195, 199, 209, 0.7);
}
/* Scrollbars */
StScrollView.vfade {
  -st-vfade-offset: 68px;
}
StScrollView.hfade {
  -st-hfade-offset: 68px;
}
StScrollBar {
  padding: 0;
}
StScrollView StScrollBar {
  min-width: 14px;
  min-height: 14px;
}
StScrollBar StBin#trough {
  border-radius: 0;
  background-color: transparent;
}
StScrollBar StButton#vhandle, StScrollBar StButton#hhandle {
  border-radius: 8px;
  background-color: #3a3d4a;
  margin: 3px;
}
StScrollBar StButton#vhandle:hover, StScrollBar StButton#hhandle:hover {
  background-color: #a1a5af;
}
StScrollBar StButton#vhandle:active, StScrollBar StButton#hhandle:active {
  background-color: #c50ed2;
}
/* Slider */
.slider {
  color: #C3C7D1;
  -barlevel-height: 2px;
  -barlevel-background-color: rgba(0, 115, 197, 0.2);
  -barlevel-border-width: 2px;
  -barlevel-border-color: transparent;
  -barlevel-active-background-color: #FED766;
  -barlevel-active-border-color: transparent;
  -barlevel-overdrive-color: #9b1b32;
  -barlevel-overdrive-border-color: transparent;
  -barlevel-overdrive-separator-width: 0px;
  -slider-handle-radius: 8px;
  -slider-handle-border-width: 0;
  -slider-handle-border-color: transparent;
}
/* Check Boxes */
.check-box StBoxLayout {
  spacing: .8em;
}
.check-box StBin {
  width: 24px;
  height: 22px;
  background-image: url("assets/checkbox-off.svg");
}
.check-box:focus, .check-box:hover StBin {
  background-image: url("assets/checkbox-off-focused.svg");
}
.check-box:checked StBin {
  background-image: url("assets/checkbox.svg");
}
.check-box:focus:checked StBin {
  background-image: url("assets/checkbox-focused.svg");
}
/* Switches */
.toggle-switch {
  width: 65px;
  height: 22px;
  background-size: contain;
  background-image: url("assets/toggle-off.svg");
}
.toggle-switch:checked {
  background-image: url("assets/toggle-on.svg");
}
.toggle-switch-us {
  background-image: url("assets/toggle-off.svg");
}
.toggle-switch-us:checked {
  background-image: url("assets/toggle-on.svg");
}
.toggle-switch-intl {
  background-image: url("assets/toggle-off.svg");
}
.toggle-switch-intl:checked {
  background-image: url("assets/toggle-on.svg");
}
/* links */
.shell-link {
  color:#367bf0;
}
.shell-link:hover {
  color: #aebcc4;
}
/* Modal Dialogs */
.headline {
  font-size: 110%;
}
.lightbox {
  background-color: black;
}
.flashspot {
  background-color: rgba(5, 0, 152, 0.5);
}
.modal-dialog {
  border: 1px solid #12151e;
  border-radius: 10px;
  color: #C3C7D1;
  background-color: rgba(20, 23, 34, 0.672);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.modal-dialog .modal-dialog-content-box {
  padding: 24px;
}
.modal-dialog .run-dialog-entry {
  width: 20em;
  margin-bottom: 6px;
}
.modal-dialog .run-dialog-error-box {
  color: #e6006e;
  padding-top: 16px;
  spacing: 6px;
}
.modal-dialog .run-dialog-button-box {
  padding-top: 1em;
}
.modal-dialog .run-dialog-label {
  font-size: 12pt;
  font-weight: bold;
  color: #a6acbb;
  padding-bottom: .4em;
}
.mount-dialog-subject, .end-session-dialog-subject {
  font-size: 14pt;
}
/* Message Dialog */
.message-dialog-main-layout {
  padding: 12px 20px 0;
  spacing: 12px;
}
.message-dialog-content {
  max-width: 28em;
  spacing: 20px;
}
.message-dialog-icon {
  min-width: 48px;
  icon-size: 48px;
}
.message-dialog-title {
  font-weight: bold;
}
.message-dialog-subtitle {
  color: #d3d7e1;
  font-weight: bold;
}
.button-dialog-button-box {
  spacing: 18px;
  padding-top: 48px;
}
.show-processes-dialog-subject, .mount-question-dialog-subject, .end-session-dialog-subject {
  font-size: 14pt;
}
/* End Session Dialog */
.end-session-dialog {
  spacing: 42px;
  border: none;
}
.end-session-dialog .modal-dialog-linked-button:last-child {
  background-gradient-start: #c50ed2 !important;
  background-gradient-end: #8500f7 !important;
  background-gradient-direction: horizontal;
  color: #fff;
}
.end-session-dialog .modal-dialog-linked-button:last-child:hover, .end-session-dialog .modal-dialog-linked-button:last-child:focus {
  background: #d60066 !important;
  color: #fff;
}
.end-session-dialog-list {
  padding-top: 20px;
}
.end-session-dialog-layout {
  padding-left: 17px;
}
.end-session-dialog-layout:rtl {
  padding-right: 17px;
}
.end-session-dialog-description {
  width: 28em;
  padding-bottom: 10px;
}
.end-session-dialog-description:rtl {
  text-align: right;
}
.end-session-dialog-warning {
  width: 28em;
  color: #f47d49;
  padding-top: 6px;
}
.end-session-dialog-warning:rtl {
  text-align: right;
}
.end-session-dialog-logout-icon {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  background-size: contain;
}
.end-session-dialog-shutdown-icon {
  color: #e6006e;
  width: 48px;
  height: 48px;
}
.end-session-dialog-inhibitor-layout {
  spacing: 16px;
  max-height: 200px;
  padding-right: 65px;
  padding-left: 65px;
}
.end-session-dialog-session-list, .end-session-dialog-app-list {
  spacing: 1em;
}
.end-session-dialog-list-header {
  font-weight: bold;
}
.end-session-dialog-list-header:rtl {
  text-align: right;
}
.end-session-dialog-app-list-item, .end-session-dialog-session-list-item {
  spacing: 1em;
}
.end-session-dialog-app-list-item-name, .end-session-dialog-session-list-item-name {
  font-weight: bold;
}
.end-session-dialog-app-list-item-description {
  color: #b5bac6;
  font-size: 10pt;
}
/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
  icon-size: 48px;
}
.mount-dialog {
  spacing: 24px;
}
.mount-dialog .message-dialog-title {
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 6px;
  max-width: 34em;
}
.mount-dialog .message-dialog-title:rtl {
  padding-left: 0px;
  padding-right: 17px;
}
.mount-dialog .message-dialog-body {
  padding-left: 17px;
  width: 28em;
}
.mount-dialog .message-dialog-body:rtl {
  padding-left: 0px;
  padding-right: 17px;
}
.mount-dialog-app-list {
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px;
}
.mount-dialog-app-list:rtl {
  padding-right: 49px;
  padding-left: 32px;
}
.mount-dialog-app-list-item {
  color: #a6acbb;
}
.mount-dialog-app-list-item:hover {
  color: #C3C7D1;
}
.mount-dialog-app-list-item:ltr {
  padding-right: 1em;
}
.mount-dialog-app-list-item:rtl {
  padding-left: 1em;
}
.mount-dialog-app-list-item-icon:ltr {
  padding-right: 17px;
}
.mount-dialog-app-list-item-icon:rtl {
  padding-left: 17px;
}
.mount-dialog-app-list-item-name {
  font-size: 10pt;
}
/* Password or Authentication Dialog */
.prompt-dialog {
  width: 34em;
  border: none;
  border-radius: 10px;
}
.prompt-dialog .message-dialog-main-layout {
  spacing: 24px;
  padding: 10px;
}
.prompt-dialog .message-dialog-content {
  spacing: 16px;
}
.prompt-dialog .message-dialog-title {
  color: #7b849a;
}
.prompt-dialog-description:rtl {
  text-align: right;
}
.prompt-dialog-password-box {
  spacing: 1em;
  padding-bottom: 1em;
}
.prompt-dialog-error-label {
  font-size: 10pt;
  color: #e6006e;
  padding-bottom: 8px;
}
.prompt-dialog-info-label {
  font-size: 10pt;
  padding-bottom: 8px;
}
.hidden {
  color: rgba(0, 0, 0, 0);
}
.prompt-dialog-null-label {
  font-size: 10pt;
  padding-bottom: 8px;
}
/* Polkit Dialog */
.polkit-dialog-user-layout {
  padding-left: 10px;
  spacing: 10px;
}
.polkit-dialog-user-layout:rtl {
  padding-left: 0px;
  padding-right: 10px;
}
.polkit-dialog-user-root-label {
  color: #f47d49;
}
.polkit-dialog-user-icon {
  border-radius: 3px;
  background-size: contain;
  width: 48px;
  height: 48px;
}
/* Audio selection dialog */
.audio-device-selection-dialog {
  spacing: 30px;
}
.audio-selection-content {
  spacing: 20px;
  padding: 24px;
}
.audio-selection-title {
  font-weight: bold;
  text-align: center;
}
.audio-selection-box {
  spacing: 20px;
}
.audio-selection-device {
  border: 1px solid #C3C7D1;
  border-radius: 12px;
}
.audio-selection-device:active, .audio-selection-device:hover, .audio-selection-device:focus {
  background-color: #c50ed2;
}
.audio-selection-device-box {
  padding: 20px;
  spacing: 20px;
}
.audio-selection-device-icon {
  icon-size: 64px;
}
/* Access Dialog */
.access-dialog {
  spacing: 30px;
}
/* Geolocation Dialog */
.geolocation-dialog {
  spacing: 30px;
}
/* Extension Dialog */
.extension-dialog .message-dialog-main-layout {
  spacing: 24px;
  padding: 10px;
}
.extension-dialog .message-dialog-title {
  color: #7b849a;
}
/* Inhibit-Shortcuts Dialog */
.inhibit-shortcuts-dialog {
  spacing: 30px;
}
/* Network Agent Dialog */
.network-dialog-secret-table {
  spacing-rows: 15px;
  spacing-columns: 1em;
}
.keyring-dialog-control-table {
  spacing-rows: 15px;
  spacing-columns: 1em;
}
/* Popvers/Menus */
.popup-menu {
  margin: 20px;
  color: white;
 /*popup text color inside*/
  border-radius: 20px;
  min-width: 200px;
  -arrow-background-border : none;
  -arrow-border: 0 solid transparent;
  box-shadow: none ;
 /*background-color: #ff009c;
 */
 /*back color top bar popup*/
}
.popup-menu {
  background-color: rgba(0, 0, 0, 0.672);
 /*right corner popup selection color inside inside */
  color: white;
 /*right corner popup selection color inside inside text*/
  border-width: 0px;
  box-shadow: none;
}
.popup-sub-menu {
  background-color: rgba(0, 0, 0, 0);
 /*right corner popup selection color inside inside */
  color: white;
 /*right corner popup selection color inside inside text*/
  border-width: 0px;
  box-shadow: none;
}
.popup-menu .popup-menu-content {
  padding: 1em 0em;
}
.popup-menu .popup-menu-item {
  spacing: 12px;
}
.popup-menu .popup-menu-item:ltr {
  padding: .4em 1.75em .4em 0em;
}
.popup-menu .popup-menu-item:rtl {
  padding: .4em 0em .4em 1.75em;
}
.popup-menu .popup-menu-item:checked {
  background-color: rgb(13, 110, 143);
 /*right corner popup selection color title back color*/
  box-shadow: none;
  font-weight: bold;
}
.popup-menu .popup-menu-item:hover, .popup-menu .popup-menu-item:focus {
  background-color: #311111;
 /*popup selection hover color*/
  border-radius: 20px;
  border-width: 1px;
  border-color: #b70f0f8a;
  color: #ffffff;
}
/*popup selection hover text color*/
.popup-menu .popup-menu-item:active {
 /*popup selection color click*/
  background-color: #f5f5f5;
  color: #555;
}
.popup-menu .popup-menu-item:insensitive {
  color: rgba(255,255,255,0.2);
}
.popup-menu .active {
  background-color: #367bf0;
}
.popup-menu .popup-inactive-menu-item {
  color: #727272;
}
.popup-menu .popup-inactive-menu-item:insensitive {
  color: rgba(255,255,255,0.2);
}
.popup-menu.panel-menu {
  -boxpointer-gap: 4px;
  margin-bottom: 1.75em;
}
.popup-menu-ornament {
  text-align: right;
  width: 1em;
}
.popup-menu-boxpointer, .candidate-popup-boxpointer {
  -arrow-border-radius: 20px;
 /*border redius*/
  -arrow-background-color: transparent ;
 /*topbar popup menu bakground color */
  -arrow-background-border : none;
 /* -arrow-border-color: #cccccc;
 /*topbar popup boder color*/
  -arrow-border: 0 solid transparent;
  -arrow-border-color: transparent;
  background-color: rgba(0, 0, 0, 0.672);
  background-gradient-direction: vertical ;
  background-gradient-start:rgba(0, 0, 0, 0.672);
  background-gradient-end: rgba(0, 0, 0, 0.672);
  -arrow-background-border : none;
}
.popup-separator-menu-item {
  height: 1px;
  margin: 6px 46px;
  background-color: transparent;
  border-color: rgba(255,255,25,0.15);
 /*popup menu line color*/
  border-bottom-width: 1px;
  border-bottom-style: solid;
  -gradient-height: 0px;
  -gradient-start: rgba(255,255,255,0);
  -gradient-end: rgba(255,255,255,0);
}
.background-menu {
  -boxpointer-gap: 4px;
  -arrow-rise: 0px;
}
/* OSD */
.osd-window {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  margin: 32px;
  min-width: 64px;
  min-height: 64px;
}
.osd-window .osd-monitor-label {
  font-size: 3em;
}
.osd-window .level {
  height: 0.6em;
  border-radius: 0.3em;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
/* App Switcher */
.switcher-popup {
  padding: 8px;
  spacing: 16px;
}
.switcher-list-item-container {
  spacing: 8px;
}
.switcher-list .item-box {
  padding: 8px;
  border-radius: 4px;
}
.switcher-list .item-box:outlined {
  padding: 6px;
  border: 2px solid rgba(0,0,0,0.1);
}
.switcher-list .item-box:selected {
  background-color: #f8f8f8;
  box-shadow: inset 0 -3px 0 black;
  color: black;
  font-weight: bold;
}
.switcher-list .item-box:selected * {
  icon-shadow: black 0 2px 2px;
}
.switcher-list .thumbnail-box {
  padding: 2px;
  spacing: 4px;
}
.switcher-list .thumbnail {
  width: 256px;
}
.switcher-list .separator {
  width: 1px;
}
.switcher-arrow {
  border-color: transparent;
  color: rgba(0, 0, 0, 0.672);
}
.switcher-arrow:highlighted {
  color: #dbdee0;
}
.input-source-switcher-symbol {
  font-size: 34pt;
  width: 96px;
  height: 96px;
}
/* Workspace Switcher */
.workspace-switcher-group {
  padding: 12px;
}
.workspace-switcher {
  background: transparent;
  border: 1px;
  border-radius: 0px;
  padding: 0px;
  spacing: 12px;
}
.ws-switcher-active-up, .ws-switcher-active-down {
  height: 50px;
  background-color:#9d820c91;
  color: #ffffff;
  background-size: 32px;
  border-radius: 4px;
}
.ws-switcher-box {
  height: 50px;
  border: none;
  background-color: rgba(4, 8, 9, 0.672);
  border-radius: 4px;
}
.osd-window, .resize-popup, .switcher-list, .workspace-switcher-container {
  color: black;
  background-color: rgba(1, 60, 51, 0.726);
  border: none;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.672);
  border: none;
}
/* Tiled window previews */
.tile-preview {
  background-color: rgba(27, 30, 31, 0.5);
  border: 1px solid#367bf0;
}
.tile-preview-left.on-primary {
  border-radius: 6px 6px 0 0;
}
.tile-preview-right.on-primary {
  border-radius: 0 6px 0 0;
}
.tile-preview-left.tile-preview-right.on-primary {
  border-radius: 6px 6px 0 0;
}
/* TOP BAR */
#panel {
  font-weight: high;
  color: #000000;
  height: 22px;
 /* bar size*/
  background-color: rgba(0, 0, 0, 0.672);
  background-gradient-direction: vertical ;
  background-gradient-start:rgba(0, 0, 0, 0);
  background-gradient-end: rgba(0, 0, 0, 0);
}
#panel.unlock-screen, #panel.login-screen, #panel.lock-screen {
  background-color: transparent;
}
#panel #panelLeft, #panel #panelCenter {
  spacing: 4px;
}
#panel .panel-corner {
  -panel-corner-radius: 1px;
  -panel-corner-background-color: rgba(57, 64, 66, 0);
  -panel-corner-border-width: 2px;
  -panel-corner-border-color: transparent;
}
#panel .panel-corner:active, #panel .panel-corner:overview, #panel .panel-corner:focus {
  -panel-corner-border-color:#367bf0;
}
#panel .panel-corner.lock-screen, #panel .panel-corner.login-screen, #panel .panel-cornerunlock-screen {
  -panel-corner-radius: 0;
  -panel-corner-background-color: transparent;
  -panel-corner-border-color: transparent;
}
#panel .panel-button {
  -natural-hpadding: 12px;
  -minimum-hpadding: 6px;
  font-weight: bold;
  color: white;
 /* topbar text icon color*/
  transition-duration: 200ms;
  text-shadow: none;
 /*remove shadow*/
  border-radius: 25px;
 /*top buttom redius*/
  background-color: rgba(50, 50, 50, 0);
 /* topbar text icon backgroundcolor*/
}
#panel .panel-button .app-menu-icon {
  -st-icon-style: symbolic;
  margin-left: 4px;
  margin-right: 4px;
}
#panel .panel-button:hover{
 color: #ffffff;
 /*top bar button hover text*/
  text-shadow:1px;
  background-color: rgba(34, 54, 233, 0.408);
 /*top bar button hover background*/
  text-shadow: none;
}
#panel .panel-button:overview:hover {
  color: white;
  text-shadow:none;
  icon-shadow:none;
}
#panel .panel-button:active, #panel .panel-button:overview, #panel .panel-button:focus, #panel .panel-button:checked {
  background-color: rgba(47, 87, 219, 0.474);
 /* top bar click color*/
  background-image: none;
  background-gradient-direction: none;
  color: white;
  text-shadow:none;
  icon-shadow:none;
}
#panel .panel-button:active > .system-status-icon, #panel .panel-button:overview > .system-status-icon, #panel .panel-button:focus > .system-status-icon, #panel .panel-button:checked > .system-status-icon {
  icon-shadow: black 0 2px 2px;
}
#panel .panel-button .system-status-icon {
  icon-size: 1.09em;
  padding: 0 5px;
}
.unlock-screen #panel .panel-button, .login-screen #panel .panel-button, .lock-screen #panel .panel-button {
  color: white;
}
.unlock-screen #panel .panel-button:focus, .unlock-screen #panel .panel-button:hover, .unlock-screen #panel .panel-button:active, .login-screen #panel .panel-button:focus, .login-screen #panel .panel-button:hover, .login-screen #panel .panel-button:active, .lock-screen #panel .panel-button:focus, .lock-screen #panel .panel-button:hover, .lock-screen #panel .panel-button:active {
  color: white;
}
#panel .panel-status-indicators-box, #panel .panel-status-menu-box {
  spacing: 2px;
}
#panel .screencast-indicator {
  color: #f67d42;
}
#panelActivities * {
 /*Activities*/
  background-image: transparent;
  background-size: 20px 20px;
  background-position: 0 0;
  border-radius: 15px;
  margin: 1px;
  width: 80px;
  color: white;
}
.system-status-icon {
  icon-shadow: 1px 1px rgba(50,50,50,.2);
}
#calendarArea {
  color: white;
 /*calender txt color*/
  border-radius: 50px;
  text-shadow:0px;
}
.calendar {
  margin-bottom: 1em;
  padding-right: 5px;
 /*calander margin*/
  border-radius: 20px;
  border-color: black;
  border-width: 3px;
  background-gradient-direction: vertical ;
  background-gradient-start:rgba(0, 0, 0, 0.55);
  background-gradient-end: rgba(0, 0, 0, 0.55);
 /*calander dates background color*/
}
.calendar, .datemenu-today-button , .datemenu-displays-box, .message-list-sections {
  margin: 0 1.5em;
}
/*calander massge margin*/
.datemenu-calendar-column {
  spacing: 0.5em;
}
.datemenu-displays-section {
  padding-bottom: 3em;
}
.datemenu-today-button, .world-clocks-button, .message-list-section-title {
  border-radius: 4px;
  padding: .4em;
}
.message-list-section-list:ltr {
  padding-left: .4em;
}
.message-list-section-list:rtl {
  padding-right: .4em;
}
.datemenu-today-button:hover, .datemenu-today-button:focus, .world-clocks-button:hover, .world-clocks-button:focus, .message-list-section-title:hover, .message-list-section-title:focus {
  background-image: none;
  background-gradient-direction: 1px;
  box-shadow: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.672);
}
.datemenu-today-button:active, .world-clocks-button:active, .message-list-section-title:active {
  background-image: none;
  background-gradient-direction: none;
  box-shadow: none;
  border: 1px;
  color: #000000;
  background-color:#367bf0;
}
.calendar-day-base.calendar-day-heading {
  color: white;
 /*calender days color*/
  margin-top: 0em;
  font-size: 70%;
}
.datemenu-today-button .date-label {
  padding-top: 8px;
  font-size: 1.5em;
  color: white;
}
/*today date lable*/
.datemenu-today-button .day-label {
  color: white;
}
/*calender today day lable*/
.world-clocks-header, .message-list-section-title {
  color: rgba(0,150,0,0.9);
  font-weight: bold;
}
.world-clocks-grid {
  spacing-rows: 0.4em;
}
.calendar-month-label {
  color: white;
 /*month lable*/
  font-weight: bold;
  padding: 8px 0;
}
/* Calendar page buttons */
.pager-button {
  margin-top: 0.5em;
  margin-left: 0.5em;
  color: rgb(5, 156, 190);
 /*month arrow background color*/
  background-color: rgba(3, 116, 58, 0.5);
  width: 40px;
  height:40px;
  border-radius: 10px;
}
.pager-button:hover, .pager-button:focus {
  background-color: rgba(6, 186, 93, 0.608);
}
/*month arrow background hover color*/
.pager-button:active {
  background-color: rgba(3, 116, 58, 0.5);
}
.calendar-day-base {
  font-size: 90%;
  text-align: center;
  width: 2em;
  height: 2em;
  padding: 0.1em;
  margin: 5px;
  border-radius: 1.4em;
  border: 5px;
}
.calendar-day-base:hover, .calendar-day-base:focus {
  background-color: rgb(44, 3, 101);
}
/* calender day hover color*/
.calendar-day-base:active {
  color: rgb(0, 255, 200);
 /*calender click color*/
  background-color:rgba(4, 47, 139, 0.827);
 /*calender click color*/
  border-color: black;
}
.calendar-day-base.calendar-day-heading {
  color: #eaff00;
 /*calender days color*/
  margin-top: 0em;
  font-size: 70%;
}
.calendar-day {
  border-width: 0px;
}
.calendar-day-top {
  border-top-width: 0px;
}
.calendar-day-left {
  border-left-width: 0px;
}
.calendar-nonwork-day {
  background-color: rgba(244,66,66,0);
 /*holyday calender date color*/
  color: rgba(189, 4, 16,1);
  border: none ;
}
/*holyday calender date color*/
.calendar-today {
 /*today date selection*/
  background-image: none;
  background-color: rgb(91, 12, 176);
 /*today calender date selection color*/
  border: 3px solid rgba(220, 150, 120, 0);
}
/*today overl shape selection border*/
.calendar-day-with-events {
  color: rgba(0,0,0,1);
  font-weight: bold;
}
.calendar-other-month-day {
  color: rgb(214, 224, 150);
 /*other calender date color*/
}
/* Message list */
.message-list {
  width: 420px;
}
.message-list-clear-button.button {
  background-color: rgb(8, 5, 91);
 /* Message clear all button background color*/
  color: rgb(255, 255, 255);
 /* Message clear all button text color*/
  margin: 8px 8px 0;
  border-radius: 10px;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.672);
}
.message-list-clear-button.button:hover, .message-list-clear-button.button:focus {
  background-color: #fcfcfca5;
}
.message-list-clear-button.button:active {
  background-color: #f0f0f0c2;
}
.message-list-sections {
  spacing: 1.5em;
}
.message-list-section, .message-list-section-list {
  spacing: 0.7em;
}
.message-list-section-title-box {
  spacing: 0.4em;
}
.message-list-section-close > StIcon {
  icon-size: 15px;
  padding: 1px;
  border-radius: 10px;
  color: rgba(255,255,255,0.9);
  background-color: rgba(255,255,255,0.9);
}
.message-list-section-close:hover > StIcon, .message-list-section-close:focus > StIcon {
  background-color: rgba(255,50,111,0.9);
  color: rgba(255,50,111,0.9);
}
.message {
  background-color: rgba(0, 0, 0, 0.55);
 /*calender message bak nomal color */
  margin: 4px;
  border: none;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.672);
}
.message:hover, .message:focus {
  background-color: rgba(4, 7, 15, 0.672);
 /*hover calender messge color*/
  box-shadow: 0 0px 2px 0 rgba(0,0,0,0.1);
  margin-bottom: 6px;
  margin-top: 2px;
  transition-duration: 200ms;
}
.message:active {
  background-color: rgba(19, 22, 38, 0.3);
 /*calender message bak nomal color */
  box-shadow: #000000;
  margin: 4px;
  border-radius: 0px;
}
.message-icon-bin {
  padding: 8px 0px 8px 8px;
}
.message-icon-bin:rtl {
  padding: 8px 8px 8px 0px;
}
.message-icon-bin > StIcon {
  icon-size: 48px;
}
.message-secondary-bin {
  color: rgba(255, 250, 250, 0.763);
}
.message-secondary-bin > StIcon {
  icon-size: 16px;
}
.message-title {
 /* message notification title */
  color: rgb(253, 253, 253);
 /* message notification color */
  font-weight: bold;
 /* message notification bold */
}
.message-content {
 /* message notification content */
  color: rgb(220, 214, 214);
  padding: 8px;
}
.messages-indicator-highlight {
  -gradient-height: 1px;
  -gradient-start: rgba(255,255,255,0);
  -gradient-end: rgba(255,255,255,0);
}
.system-switch-user-submenu-icon {
  icon-size: 48px;
  border: 1px;
}
#appMenu {
  spinner-image: none;
  spacing: none;
}
#appMenu .label-shadow {
  color: #000000;
}
#appMenu * {
  icon-shadow: rgba(255, 255, 255, 0.38) 0 0 4px;
}
.aggregate-menu {
  width: 360px;
}
.aggregate-menu .popup-menu-icon {
  padding: 0 4px;
}
.system-menu-action {
  color:rgba(0,0,0,1);
  background-color: white;
  border-radius: 30px;
 /*system button*/
  padding: 13px;
  border: none;
 /* border: 1px solid #d3d3d3;
 /* button border*/
  box-shadow: 0 0px 10px 0 rgba(0,0,0,0.5);
}
.system-menu-action:hover, .system-menu-action:focus {
 /*shutdown icon color*/
  color: #333;
  background-color: #d8d8d8;
 /*system icon selection color*/
  border: none;
  padding: 14px;
 /*shutdown icon inside */
}
.system-menu-action:active {
  background-color: white;
 /*shutdown icon background color*/
  color: black;
  border-radius: 32px;
}
.system-menu-action > StIcon {
  icon-size: 30px;
 /*icon size*/
}
.ripple-box {
  width: 52px;
  height: 52px;
  background-image: url("assets/corner-ripple-ltr.png");
  background-size: contain;
}
.ripple-box:rtl {
  background-image: url("assets/corner-ripple-rtl.png");
}
.popup-menu-arrow {
 /*arrow pop*/
  width: 16px;
  height: 16px;
}
.popup-menu-icon {
  icon-size: 1.09em;
}
.window-close, .notification-close {
  background-image: url("assets/close-window.svg");
  background-size: 32px;
  height: 32px;
  width: 32px;
}
.window-close {
  -shell-close-overlap: 16px;
}
.window-close:rtl {
  -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}
.notification-close {
  -shell-close-overlap-x: 14px;
  -shell-close-overlap-y: -12px;
}
.notification-close:rtl {
  -shell-close-overlap-x: -14px;
}
* NETWORK DIALOGS */
.nm-dialog {
  max-height: 34em;
  min-height: 31em;
  min-width: 32em;
}
.nm-dialog-content {
  spacing: 20px;
  padding: 24px;
}
.nm-dialog-header-hbox {
  spacing: 10px;
}
.nm-dialog-airplane-box {
  spacing: 12px;
}
.nm-dialog-airplane-headline {
  font-weight: bold;
  text-align: center;
}
.nm-dialog-airplane-text {
  color: #C3C7D1;
}
.nm-dialog-header-icon {
  icon-size: 32px;
}
.nm-dialog-scroll-view {
  border: 2px solid #12151e;
  background: #181b28;
}
.nm-dialog-header {
  font-weight: bold;
}
.nm-dialog-item {
  font-size: 110%;
  border-bottom: 1px solid #12151e;
  padding: 12px;
  spacing: 20px;
}
.nm-dialog-item:selected {
  background-color: #c50ed2;
  color: #f7f7f7;
}
.nm-dialog-icons {
  spacing: .5em;
}
.nm-dialog-icon {
  icon-size: 16px;
}
.no-networks-label {
  color: #999999;
}
.no-networks-box {
  spacing: 12px;
}
/* OVERVIEW */
#overview {
  spacing: 24px;
}
.overview-controls {
  padding-bottom: 32px;
}
.window-picker {
  -horizontal-spacing: 50px;
  -vertical-spacing: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 48px;
}
.window-picker.external-monitor {
  padding: 32px;
}
.window-clone-border {
  border: 4px solid rgba(159, 176, 185, 0.7);
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.0.5);
}
.window-caption {
  spacing: 25px;
  color: rgba(255,255,255,0.8);
  background-color: rgba(0,0,0,0.5);
  border-radius: 2px;
  padding: 4px 12px;
  -shell-caption-spacing: 12px;
}
.window-caption:hover {
  background-color: #0f0f80;
  color: #dbdee0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
}
.search-entry {
  width: 320px;
  border: 3px;
  color: rgb(255, 255, 255);
  caret-color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  padding: 7px 9px;
  border-color: #613434;
  border-radius: 20px;
  selection-background-color: rgba(11, 0, 136, 0.384);
  selected-color: #eae8ff;
}
.search-entry:hover {
  background-color: rgba(8, 118, 182, 0);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
  transition-duration: 200ms;
}
.search-entry:focus {
  background-color: rgba(5, 137, 56, 0.004);
  font-size: 12pt;
  color: rgb(253, 216, 6);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
  transition-duration: 200ms;
}
.search-entry .search-entry-icon {
  icon-size: 1.3em;
  padding: 0 4px;
  color: #fdd71a;
}
.search-entry:hover .search-entry-icon {
  color: #e9c708;
}
.search-entry:focus .search-entry-icon {
  color: rgb(255, 225, 0);
}
#searchResultsBin {
  max-width: 100px;
}
#searchResultsContent {
  padding-left: 20px;
  padding-right: 20px;
  spacing: 16px;
}
.search-section {
  spacing: 16px;
}
.search-section-content {
  border: none;
  box-shadow: none;
  background: none;
  text-shadow: none;
  spacing: 32px;
}
.search-section-separator {
  -gradient-height: 1px;
  -gradient-start: rgba(255,255,255,0);
  -gradient-end: rgba(13, 0, 250, 0.5);
  -margin-horizontal: 1.5em;
  height: 1px;
}
.list-search-results {
  background-color: rgba(5, 137, 56, 0.004);
  spacing: 3px;
}
.search-section-separator {
  -gradient-height: 1px;
  -gradient-start: rgba(255,255,255,0);
  -gradient-end: rgba(0, 110, 255, 0.341);
  -margin-horizontal: 1.5em;
  height: 1px;
}
.list-search-result-content {
  spacing: 12px;
}
.list-search-result-title {
  color: #dbdee0;
}
.list-search-result-description {
  color: #dbdee0;
}
.search-provider-icon {
  padding: 15px;
}
.search-provider-icon-more {
  width: 16px;
  height: 16px;
}
/* -------------------- DASHBOARD -------------------- */

#dash{
  font-size: 20pt;
 /* dash bar*/
  background-color: rgba(0, 0, 0, 0.012);
  background-gradient-direction: horizontal ;
  background-gradient-start:rgba(0, 0, 0, 0.019);
  background-gradient-end: rgba(5, 23, 65, 0);
 /*dash color*/
  border: 3px;
  border-radius: 0 0 30px 30px;
}
#dash:rtl {
  border-radius: 20px;
}
#dash .placeholder {
  background-image: none;
  background-size: contain;
  height: 64px;
  border-color: #000000;
  border-radius: 5px;
}
#dash .empty-dash-drop-target {
  width: 24px;
  height: 24px;
}
#dash .overview-icon * {
  icon-shadow: rgba(0,0,0,0,0) 2px 2px;
  color: rgb(251, 250, 255);
}
.dash-label {
 /* dash popup labal*/
  border-radius: 7px;
  padding: 4px 12px;
  color: white;
  background-color: #2c418e1b;
 /* dash popup labal color*/
  text-align: center;
  -x-offset: 8px;
}
/* App Vault/Grid */
.icon-grid {
  spacing: 30px;
 /*app icon space */
  -shell-grid-horizontal-item-size: 140px;
 /* Default 136*/
  -shell-grid-vertical-item-size: 140px;
}
.icon-grid .overview-icon {
  icon-size: 90px;
}
.app-view-controls {
  padding-bottom: 2px;
}
.app-view-control {
  background-gradient-direction: none;
  background-color: rgba(0, 82, 246, 0.023);
  padding: 4px 32px;
  border-width: 0px;
  color: #dbdee0;
}
.app-view-control:hover {
  color: #fff;
  background-gradient-direction: transparent;
  background-color: rgba(56, 9, 186, 0.6);
  border-color: rgba(0,0,0,0);
  border-width: 0px;
}
.app-view-control:checked {
  color: #454d50;
  border-color: rgba(0,0,0,0);
  border-width: 0px;
  background-gradient-direction: none;
  background-color: white;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
}
.app-view-control:first-child {
  background-gradient-direction: none;
  border-radius: 2px 0 0 2px;
}
.app-view-control:last-child {
  border-right-width: 0;
  background-gradient-direction: none;
  border-radius: 0 2px 2px 0;
}
.search-provider-icon:active, .search-provider-icon:checked, .list-search-result:active, .list-search-result:checked {
  background-color: rgba(0, 12, 138, 0.9);
}
.search-provider-icon:focus, .search-provider-icon:selected, .search-provider-icon:hover, .list-search-result:focus, .list-search-result:selected, .list-search-result:hover {
  background-color: rgba(16, 4, 151, 0.1);
  background-gradient-direction: none;
  transition-duration: 200ms;
}
/* Menu de apps seleccionado */
.app-well-app:active .overview-icon, .app-well-app:checked .overview-icon, .app-well-app.app-folder:active .overview-icon, .app-well-app.app-folder:checked .overview-icon, .show-apps:active .overview-icon, .show-apps:checked .overview-icon, .grid-search-result:active .overview-icon, .grid-search-result:checked .overview-icon {
  background: rgba(0, 31, 125, 0.013);
  border: 0;
  box-shadow: inset 0 -2px 0 white;
  border-radius: 0;
}
.app-well-app:hover .overview-icon, .app-well-app:focus .overview-icon, .app-well-app:selected .overview-icon, .show-apps:hover .overview-icon, .show-apps:focus .overview-icon, .show-apps:selected .overview-icon, .grid-search-result:hover .overview-icon, .grid-search-result:focus .overview-icon, .grid-search-result:selected .overview-icon {
  background-color: transparent;
}
.app-well-app:focus, .app-well-app.app-folder:hover .overview-icon, .app-well-app.app-folder:focus .overview-icon, .app-well-app.app-folder:selected .overview-icon {
  background-color: rgba(0, 171, 187, 0.176);
}
/* Running App */
.app-well-app.running > .overview-icon {
  border-radius: 0;
  color:rgba(255,255,255,0.9);
  box-shadow: inset 0 -2px 0 0 #367af04d;
  background-image: none;
  background-gradient-direction: none;
}
.app-well-app-running-dot {
  border-radius: 7px;
  width: 25px;
  height: 5px;
  background-color: rgb(171, 224, 12);
  box-shadow: inset -1px -1px 0 0 rgba(0,0,0,.5);
  margin-bottom: 2px;
  margin-top: 2px;
}
.search-provider-icon, .list-search-result, .app-well-app .overview-icon, .app-well-app.app-folder .overview-icon, .show-apps .overview-icon, .grid-search-result .overview-icon {
  color: #ffffff;
  border-radius: 4px;
  padding: 6px;
  border: 1px solid transparent;
  transition-duration: 100ms;
  text-align: center;
}
.app-well-app.app-folder > .overview-icon {
  background-color: rgba(159, 176, 185, 0);
}
.show-apps:checked .show-apps-icon, .show-apps:focus .show-apps-icon {
  color: white;
  transition-duration: 100ms;
}
.app-folder-popup {
  -arrow-border-radius: 8px;
  -arrow-background-color: rgba(10, 29, 153, 0.319);
  -arrow-base: 24px;
  -arrow-rise: 11px;
}
.app-folder-popup-bin {
  padding: 5px;
}
.app-folder-icon {
  padding: 5px;
  spacing-rows: 5px;
  spacing-columns: 5px;
}
.page-indicator {
  padding: 15px 20px;
}
.page-indicator .page-indicator-icon {
  width: 18px;
  height: 18px;
}
.app-well-app > .overview-icon.overview-icon-with-label, .grid-search-result .overview-icon.overview-icon-with-label {
  padding: 10px 8px 5px 8px;
  spacing: 4px;
}
.workspace-thumbnails {
  visible-width: 32px;
  spacing: 11px;
  padding: 8px;
  border-radius: 6px 0 0 6px;
  color: #dbdee0;
  background-color: rgba(58, 82, 91, 0);
  border: 0;
}
.workspace-thumbnails:rtl {
  border-radius: 0 6px 6px 0;
}
.workspace-thumbnail-indicator {
  border: 5px solid white;
  border-radius: 2px;
  padding: 0px;
}
.search-display > StBoxLayout, .all-apps, .frequent-apps > StBoxLayout {
  padding: 0px 88px 10px 88px;
}
.search-statustext, .no-frequent-applications-label {
  font-size: 11pt;
 ;
  color: #dbdee0;
}
/* NOTIFICATIONS & MESSAGE TRAY */
.url-highlighter {
  link-color: #e323f0;
}
.notification-banner {
  font-size: 11pt;
  width: 34em;
  margin: 5px;
  border-radius: 12px;
  color: white;
  background-color: #181b28;
  border: 1px solid #12151e;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.451);
}
.notification-banner:hover, .notification-banner:focus {
  background-color: #202435;
  box-shadow: none;
  border-radius: 12px;
}
.notification-banner * {
  color: #C3C7D1;
}
.notification-banner .notification-icon {
  padding: 5px;
}
.notification-banner .notification-content {
  padding: 5px;
  spacing: 5px;
}
.notification-banner .secondary-icon {
  icon-size: 1.09em;
}
.notification-banner .notification-actions {
  background-color: #141722;
  padding-top: 2px;
  spacing: 1px;
  border-radius: 0px 0px 12px 12px;
}
.notification-banner .notification-button {
  padding: 7px;
  background-color: rgba(24, 27, 40, 0.9);
  box-shadow: none;
  border: none;
}
.notification-banner .notification-button:first-child {
  border-radius: 0 0 0 12px;
}
.notification-banner .notification-button:last-child {
  border-radius: 0 0 12px 0;
}
.notification-banner .notification-button:hover, .notification-banner .notification-buttonfocus {
  background-gradient-start: #c50ed2 !important;
  background-gradient-end: #8500f7 !important;
  background-gradient-direction: horizontal;
  color: #f7f7f7;
}
.summary-source-counter {
  font-size: 10pt;
  font-weight: bold;
  height: 1.6em;
  width: 1.6em;
  -shell-counter-overlap-x: 3px;
  -shell-counter-overlap-y: 3px;
  background-color: #c50ed2;
  color: #f7f7f7;
  border: 2px solid #C3C7D1;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.9em;
}
.secondary-icon {
  icon-size: 1.09em;
}
.chat-body {
  spacing: 5px;
}
.chat-response {
  margin: 5px;
}
.chat-log-message {
  color: #a6acbb;
}
.chat-new-group {
  padding-top: 1em;
}
.chat-received {
  padding-left: 4px;
}
.chat-received:rtl {
  padding-left: 0px;
  padding-right: 4px;
}
.chat-sent {
  padding-left: 18pt;
  color: #989fb0;
}
.chat-sent:rtl {
  padding-left: 0;
  padding-right: 18pt;
}
.chat-meta-message {
  padding-left: 4px;
  font-size: 9pt;
  font-weight: bold;
  color: #8991a5;
}
.chat-meta-message:rtl {
  padding-left: 0;
  padding-right: 4px;
}
.hotplug-transient-box {
  spacing: 6px;
  padding: 2px 72px 2px 12px;
}
.hotplug-notification-item {
  padding: 2px 10px;
}
.hotplug-notification-item:focus {
  padding: 1px 71px 1px 11px;
}
.hotplug-notification-item-icon {
  icon-size: 24px;
  padding: 2px 5px;
}
.hotplug-resident-box {
  spacing: 8px;
}
.hotplug-resident-mount {
  spacing: 8px;
  border-radius: 4px;
}
.hotplug-resident-mount:hover {
  background-color: rgba(24, 27, 40, 0.3);
}
.hotplug-resident-mount-label {
  color: inherit;
  padding-left: 6px;
}
.hotplug-resident-mount-icon {
  icon-size: 24px;
  padding-left: 6px;
}
.hotplug-resident-eject-icon {
  icon-size: 16px;
}
.hotplug-resident-eject-button {
  padding: 7px;
  border-radius: 5px;
  color: pink;
}
/* Eeeky things */
.magnifier-zoom-region {
  border: 2px solid #c50ed2;
}
.magnifier-zoom-region.full-screen {
  border-width: 0;
}
/* On-screen Keyboard */
#keyboard {
  background-color: rgba(24, 27, 40, 0.65);
}
.keyboard-layout {
  spacing: 10px;
  padding: 10px;
}
.keyboard-row {
  spacing: 15px;
}
.keyboard-key {
  color: #C3C7D1;
  background-color: #202435;
  box-shadow: none;
  border: 1px solid #12151e;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black;
  border: 1px solid #12151e;
  background-color: #181b28;
  min-height: 2em;
  min-width: 2em;
  font-size: 14pt;
  font-weight: bold;
  border-radius: 5px;
}
.keyboard-key:focus {
  background-color: #272c42;
  color: #f7f7f7;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black;
  box-shadow: none !important;
  border: 1px solid #12151e;
}
.keyboard-key:hover, .keyboard-key:checked {
  background-color: #252a3e;
  color: #f7f7f7;
  border: 1px solid #12151e;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black;
}
.keyboard-key:active {
  color: #c50ed2;
  background-color: rgba(24, 27, 40, 0.95);
  border: 1px solid #12151e;
  text-shadow: none;
  icon-shadow: none;
}
.keyboard-key:grayed {
  background-color: rgba(24, 27, 40, 0.95);
  color: #C3C7D1;
  border-color: rgba(0, 0, 0, 0.7);
}
.keyboard-subkeys {
  color: white;
  padding: 5px;
  -arrow-border-radius: 10px;
  -arrow-background-color: rgba(24, 27, 40, 0.65);
  -arrow-border-width: 2px;
  -arrow-border-color: #C3C7D1;
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 5px;
}
.candidate-popup-content {
  padding: 0.5em;
  spacing: 0.3em;
}
.candidate-index {
  padding: 0 0.5em 0 0;
  color: #a6acbb;
}
.candidate-box {
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 4px;
}
.candidate-box:selected, .candidate-box:hover {
  background-color: #c50ed2;
  color: #f7f7f7;
}
.candidate-page-button-box {
  height: 2em;
}
.vertical .candidate-page-button-box {
  padding-top: 0.5em;
}
.horizontal .candidate-page-button-box {
  padding-left: 0.5em;
}
.candidate-page-button {
  padding: 4px;
}
.candidate-page-button-previous {
  border-radius: 4px 0px 0px 4px;
  border-right-width: 0;
}
.candidate-page-button-next {
  border-radius: 0px 4px 4px 0px;
}
.candidate-page-button-icon {
  icon-size: 1em;
}
/* Auth Dialogs & Screen Shield */
.framed-user-icon {
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.672);
  border-radius: 3px;
}
.framed-user-icon:hover {
  border-color: #fff;
}
.login-dialog-banner-view {
  padding-top: 24px;
  max-width: 23em;
}
.login-dialog {
  border: none;
  background-color: transparent;
}
.login-dialog .modal-dialog-button-box {
  spacing: 3px;
}
.login-dialog .modal-dialog-button {
  padding: 3px 18px;
}
.login-dialog .modal-dialog-button:default {
  color: #dbdee0;
  background-color: rgba(57, 64, 66, 0.5);
  border-color: rgba(0, 0, 0, 0.672);
  box-shadow: inset 0 1px #454d50;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black;
}
.login-dialog .modal-dialog-button:default:hover, .login-dialog .modal-dialog-button:default:focus {
  color: white;
  border-color: rgba(0, 0, 0, 0.672);
  background-color: rgba(57, 64, 66, 0.7);
  box-shadow: inset 0 1px #5d696d;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black;
}
.login-dialog .modal-dialog-button:default:active {
  color: white;
  border-color: rgba(0, 0, 0, 0.672);
  background-color: #2d3335;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}
.login-dialog .modal-dialog-button:default:insensitive {
  color: #939695;
  border-color: rgba(0, 0, 0, 0.672);
  background-color: rgba(66, 71, 73, 0.7);
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}
.login-dialog-logo-bin {
  padding: 24px 0px;
}
.login-dialog-banner {
  color: #dbdee0;
}
.login-dialog-button-box {
  spacing: 5px;
}
.login-dialog-message-warning {
  color: #f67d42;
}
.login-dialog-message-hint {
  padding-top: 0;
  padding-bottom: 20px;
}
.login-dialog-user-selection-box {
  padding: 100px 0px;
}
.login-dialog-user-selection-box .login-dialog-not-listed-label {
  padding-left: 2px;
}
.login-dialog-not-listed-button:focus .login-dialog-user-selection-box .login-dialog-not-listed-label, .login-dialog-not-listed-button:hover .login-dialog-user-selection-box .login-dialog-not-listed-label {
  color: #dbdee0;
}
.login-dialog-not-listed-label {
  font-size: 90%;
  font-weight: bold;
  color: #a6a69b;
  padding-top: 1em;
}
.login-dialog-user-list-view {
  -st-vfade-offset: 1em;
}
.login-dialog-user-list {
  spacing: 12px;
  padding: .2em;
  width: 23em;
}
.login-dialog-user-list:expanded .login-dialog-user-list-item:focus {
  background-color:#367bf0;
  color: #ffffff;
}
.login-dialog-user-list:expanded .login-dialog-user-list-item:logged-in {
  border-right: 2px solid#367bf0;
}
.login-dialog-user-list-item {
  border-radius: 5px;
  padding: .2em;
  color: #a6a69b;
}
.login-dialog-user-list-item:ltr {
  padding-right: 1em;
}
.login-dialog-user-list-item:rtl {
  padding-left: 1em;
}
.login-dialog-user-list-item:hover {
  background-color:#367bf0;
  color: #ffffff;
}
.login-dialog-user-list-item .login-dialog-timed-login-indicator {
  height: 2px;
  margin: 2px 0 0 0;
  background-color: #dbdee0;
}
.login-dialog-user-list-item:focus .login-dialog-timed-login-indicator {
  background-color: #ffffff;
}
.login-dialog-username, .user-widget-label {
  color: #dbdee0;
  font-size: 120%;
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
}
.user-widget-label:ltr {
  padding-left: 18px;
}
.user-widget-label:rtl {
  padding-right: 18px;
}
.login-dialog-prompt-layout {
  padding-top: 24px;
  padding-bottom: 12px;
  spacing: 8px;
  width: 23em;
}
.login-dialog-prompt-label {
  color: #bebeb6;
  font-size: 110%;
  padding-top: 1em;
}
.login-dialog-session-list-button StIcon {
  icon-size: 1.25em;
}
.login-dialog-session-list-button {
  color: #a6a69b;
}
.login-dialog-session-list-button:hover, .login-dialog-session-list-button:focus {
  color: #dbdee0;
}
.login-dialog-session-list-button:active {
  color: #747467;
}
.screen-shield-arrows {
  padding-bottom: 3em;
}
.screen-shield-arrows Gjs_Arrow {
  color: white;
  width: 80px;
  height: 48px;
  -arrow-thickness: 12px;
  -arrow-shadow: 0 1px 1px rgba(0, 0, 0, 0.672);
}
.screen-shield-clock {
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.672);
  font-weight: bold;
  text-align: center;
  padding-bottom: 1.5em;
}
.screen-shield-clock-time {
  font-size: 72pt;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.672);
}
.screen-shield-clock-date {
  font-size: 28pt;
}
.screen-shield-notifications-container {
  spacing: 6px;
  width: 30em;
  background-color: transparent;
  max-height: 500px;
}
.screen-shield-notifications-container .summary-notification-stack-scrollview {
  padding-top: 0;
  padding-bottom: 0;
}
.screen-shield-notifications-container .notification, .screen-shield-notifications-container .screen-shield-notification-source {
  padding: 12px 6px;
  border: 1px solid rgba(238, 238, 236, 0.2);
  background-color: rgba(159, 176, 185, 0.5);
  color: #dbdee0;
  border-radius: 4px;
}
.screen-shield-notifications-container .notification {
  margin-right: 15px;
}
.screen-shield-notification-label {
  font-weight: bold;
  padding: 0px 0px 0px 12px;
}
.screen-shield-notification-count-text {
  padding: 0px 0px 0px 12px;
}
#panel.lock-screen {
  background-color: rgba(159, 176, 185, 0.5);
}
.screen-shield-background {
  background: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.672);
}
#lockDialogGroup {
  background: #2d3335 url("assets/noise-texture.png");
  background-repeat: repeat;
}
#screenShieldNotifications StButton#vhandle, #screenShieldNotifications StButton#hhandle {
  background-color: rgba(69, 77, 80, 0.3);
}
#screenShieldNotifications StButton#vhandle:hover, #screenShieldNotifications StButton#vhandle:focus, #screenShieldNotifications StButton#hhandle:hover, #screenShieldNotifications StButton#hhandle:focus {
  background-color: rgba(69, 77, 80, 0.5);
}
#screenShieldNotifications StButton#vhandle:active, #screenShieldNotifications StButton#hhandle:active {
  background-color: rgba(57, 64, 66, 0.5);
}
#LookingGlassDialog {
  background-color: rgba(57,64,66,0.95);
  spacing: 4px;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.672);
  border-top-width: 0px;
  border-radius: 0 0 4px 4px;
}
#LookingGlassDialog > #Toolbar {
  border: none;
  border-radius: 0px;
}
#LookingGlassDialog .labels {
  spacing: 4px;
}
#LookingGlassDialog .notebook-tab {
  -natural-hpadding: 12px;
  -minimum-hpadding: 6px;
  font-weight: bold;
  color: #ccc;
  transition-duration: 100ms;
  padding-left: .3em;
  padding-right: .3em;
}
#LookingGlassDialog .notebook-tab:hover {
  color: white;
  text-shadow: none;
}
#LookingGlassDialog .notebook-tab:selected {
  border-bottom-width: 2px;
  border-color:#367bf0;
  color: white;
  text-shadow: none;
}
#LookingGlassDialog StBoxLayout#EvalBox {
  padding: 4px;
  spacing: 4px;
}
#LookingGlassDialog StBoxLayout#ResultsArea {
  spacing: 4px;
}
.lg-dialog StEntry {
  selection-background-color: #bbbbbb;
  selected-color: #333333;
}
.lg-dialog .shell-link {
  color: #999999;
}
.lg-dialog .shell-link:hover {
  color: #dddddd;
}
.lg-completions-text {
  font-size: .9em;
  font-style: italic;
}
.lg-obj-inspector-title {
  spacing: 4px;
}
.lg-obj-inspector-button {
  border: none;
  padding: 4px;
  border-radius: 4px;
}
.lg-obj-inspector-button:hover {
  background: rgba(0,0,0,0.1);
  border: none;
}
#lookingGlassExtensions {
  padding: 4px;
}
.lg-extensions-list {
  padding: 4px;
  spacing: 8px;
}
.lg-extension {
  border: none;
  background: #454d50;
  border-radius: 2px;
  padding: 6px;
}
.lg-extension-name {
  font-weight: bold;
}
.lg-extension-meta {
  spacing: 6px;
}
#LookingGlassPropertyInspector {
  border-radius: 2px;
  color: #454d50;
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  padding: 8px;
  margin: 12px 
}
/******************** * Legacy Overrides * ********************/
.candidate-page-button, .modal-dialog-button {
  border-radius: 2px;
  border: none;
  background: rgba(0,0,0,0.015);
  margin-top: 0.5em;
  padding: 4px 32px;
  color: #777;
  font-weight: bold;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}
.modal-dialog-button:hover {
  color: #333;
}
.modal-dialog-button:focus {
  color: #777;
}
.candidate-page-button:active, .candidate-page-button:pressed, .modal-dialog-button:active, .modal-dialog-button:pressed {
  color: #777;
  border: none;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}
.candidate-page-button:insensitive, .modal-dialog-button:insensitive {
  color: rgba(255,255,255,0.3);
  border: none;
  background-color: rgba(0,0,0,0.0);
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}
/* Menus */
.popup-submenu-menu-item:open {
  background-color: #454550;
}
.popup-menu-item:active {
  background-color: #454d50;
}
.popup-menu-item:insensitive {
  color: #999;
}
